In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_maps_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv") # a aprt of citipy.....
city_data_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Rikitea,100,PF,2021-09-25 19:42:12,75,-23.1203,-134.9692,74.12,16.78
1,1,Sola,35,VU,2021-09-25 19:42:13,76,-13.8833,167.5500,78.84,12.01
2,2,Slave Lake,1,CA,2021-09-25 19:40:59,51,55.2834,-114.7690,62.58,18.41
3,3,Melito Di Porto Salvo,91,IT,2021-09-25 19:42:13,78,37.9222,15.7714,77.74,3.44
4,4,Zhigansk,73,RU,2021-09-25 19:42:14,89,66.7697,123.3711,31.06,10.25

In [18]:
d.type()

NameError: name 'd' is not defined

In [ ]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_maps_key)

In [ ]:
# format for creating heatmap  generally
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

In [ ]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# this line heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) can cause an error as maps don't plot neg #s
# so remove the negaative #s through looping

In [ ]:
# Get the maximum temperature./// using max function to get largest value between temp and 0. If less than 0, then 0  will 
# subbed in the list
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [ ]:
#changing heat_layer to return a heatmap

In [ ]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig #map too big will fix

In [ ]:
## Adjust Zoom, Intensity, Ppoint Radius 6.5.2

In [ ]:
#adding a center + zoom level
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [ ]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
eat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# above: default for dissipation is True change to False. 
#add max_intensity to improve gradient variance
#added point_radius to encrease radius

In [ ]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)fig.add_layer(heat_layer)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds =  city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

In [ ]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

In [ ]:
6.5.3 ## Get the Criteria's

In [ ]:
#adding feature to allow user's to search for locations based on temp perferences

In [4]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,Sola,35,VU,2021-09-25 19:42:13,76,-13.8833,167.5500,78.84,12.01
3,3,Melito Di Porto Salvo,91,IT,2021-09-25 19:42:13,78,37.9222,15.7714,77.74,3.44
5,5,Vaitape,14,PF,2021-09-25 19:42:14,76,-16.5167,-151.7500,78.64,9.66
11,11,Atuona,87,PF,2021-09-25 19:42:16,77,-9.8000,-139.0333,78.33,20.04
14,14,Kapaa,40,US,2021-09-25 19:42:17,70,22.0752,-159.3190,82.38,3.00
20,20,Phan Thiet,100,VN,2021-09-25 19:41:37,88,10.9333,108.1000,76.55,2.84
21,21,Simbahan,94,PH,2021-09-25 19:42:19,72,6.3032,120.5836,82.72,2.30
25,25,Bengkulu,100,ID,2021-09-25 19:42:21,92,-3.8004,102.2655,75.83,1.32
27,27,Albany,87,US,2021-09-25 19:42:22,55,42.6001,-73.9662,75.61,3.00
31,31,Gorontalo,81,ID,2021-09-25 19:42:23,93,0.5412,123.0595,75.11,3.27

In [6]:
preferred_cities_df.count() # how does count determine null values? Are we suppose to know/remember the total # of cities

City_ID       179
City          179
Cloudiness    179
Country       178
Date          179
Humidity      179
Lat           179
Lng           179
Max Temp      179
Wind Speed    179
dtype: int64

In [7]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.// hotel name + lng added columns
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1                    Sola      VU     78.84 -13.8833  167.5500
3   Melito Di Porto Salvo      IT     77.74  37.9222   15.7714
5                 Vaitape      PF     78.64 -16.5167 -151.7500
11                 Atuona      PF     78.33  -9.8000 -139.0333
14                  Kapaa      US     82.38  22.0752 -159.3190
20             Phan Thiet      VN     76.55  10.9333  108.1000
21               Simbahan      PH     82.72   6.3032  120.5836
25               Bengkulu      ID     75.83  -3.8004  102.2655
27                 Albany      US     75.61  42.6001  -73.9662
31              Gorontalo      ID     75.11   0.5412  123.0595

In [10]:
# Set parameters to search for a hotel.///used lodging because that is a supported type
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_maps_key
}

In [11]:
# Iterate through the DataFrame. #how dod the location key get in the para dict???
#for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    #lat = row["Lat"]
    #lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    #params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    #base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    #hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [ ]:
#encounter more errors, add them to the except block—like so,
#(IndexError, NewError)—and continue running your code until there are no errors.

In [13]:
# Iterate through the DataFrame. #how dod the location key get in the para dict???
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Sola,VU,78.84,-13.8833,167.5500,Leumerus Bungalows
3,Melito Di Porto Salvo,IT,77.74,37.9222,15.7714,B&B Nereidi
5,Vaitape,PF,78.64,-16.5167,-151.7500,Conrad Bora Bora Nui
11,Atuona,PF,78.33,-9.8000,-139.0333,Villa Enata
14,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
565,Abu Zabad,SD,75.29,12.3500,29.2500,حامد محمد نور
567,Westport,US,77.99,41.1415,-73.3579,The Westport Inn
570,Matara,LK,78.64,5.9485,80.5353,Amaloh Boutique Resort
571,Marapanim,BR,83.43,-0.7175,-47.6997,Ecomangue Pousada
572,Guaraniacu,BR,82.24,-25.1008,-52.8781,Dalla´s Hotel

In [ ]:
### Create Max Temp Heatmap from Hotel DF for pop-up markers

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
# syntax for markers above: markers = gmaps.marker_layer(marker_locations)

In [ ]:
#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

In [ ]:
# for above
# info box will give info on the location of marker
# <dl/t/d> is description list/term/definition

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# syntax for adding code to info box
#plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

In [ ]:
#for below
#setting hotel_info equal to the info box and using a list comprehension to 
#iterate through each row in hote_df to populate each row in the info box

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig